.menu{
    width: 12dvw;
    position: sticky;
    top: 0px;
    left:0px;
    & div:hover{
        border-radius:0 20px 20px 0 ; 
        background: #a7a6a6;
    }
    & div p{
        margin: 8px;
        padding: 8px;
        overflow: hidden;
    }
}
@media (max-width:480px) {
    .menu{
        display: none;
    }
}
.selected{
    border-radius:0 20px 20px 0 ; 
    background: rgb(198, 176, 49)!important; 
}